body, h1, p, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden; /
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}


.link-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 0 0 8px 8px; 
    cursor: pointer;
}

.link-button:hover {
    background-color: #030303; 
}