body, h1, p, img, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('https://pics.freeartbackgrounds.com/Beach_Background-1342.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.9;
}


.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px auto; 
}


.card img {
    width: 100%;
    height: auto;
    display: block;
}


.link-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 0 8px 8px; 
    cursor: pointer;
}

.link-button:hover {
    background-color: #000000; 
}